/* .bottombar {
    position: fixed;
    display: flex;
    flex-direction: row;
    bottom: 0;
    width: 100vw;
    height: 23.5px;
    background-color: #007ACC;
    z-index: 10000;
  } */

  .remote{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0px 13px 0px 13px ;
    background-color: #2a7e2a;

  }

  .container{
    padding: 0px 5px 0px 5px;
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
  }

  .githubrepo{
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 14px;
    align-items: center;
  }
  
  .container>p{
    /* color: white;
    font-size: 12px; */
    margin-left: -8px;

  }

  .herokuapp{
    padding-top: 5px;
  }


  

  .car {
    transform: scale(0.6);
  }
  .loader {
    margin-left: -30px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .car__body {
    animation: shake 0.2s ease-in-out infinite alternate;
  }
  
  .car__line {
    transform-origin: center right;
    stroke-dasharray: 22;
    animation: line 0.8s ease-in-out infinite;
    animation-fill-mode: both;
  }
  
  .car__line--top {
    animation-delay: 0s;
  }
  
  .car__line--middle {
    animation-delay: 0.2s;
  }
  
  .car__line--bottom {
    animation-delay: 0.4s;
  }
  
  @keyframes shake {
    0% {
      transform: translateY(-1%);
    }
    100% {
      transform: translateY(3%);
    }
  }
  
  @keyframes line {
    0% {
      stroke-dashoffset: 22;
    }
    25% {
      stroke-dashoffset: 22;
    }
    50% {
      stroke-dashoffset: 0;
    }
    51% {
      stroke-dashoffset: 0;
    }
    80% {
      stroke-dashoffset: -22;
    }
    100% {
      stroke-dashoffset: -22;
    }
  }
